<!-- nav -->
<style>
img {
  border-radius: 50%;
  width:50px;
 
    position: absolute;
    right:150px;
    top:4px;
}
#bor
{
  position: absolute;
    left: 0;
    top: 150px;
    background-color: white;
    width: 80%;
    
}
#inner
{
   font-size:15px;
   text-align: center;
}
h6{
background-color: white;

}
</style>

<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
      <div id="bord">
        <img src="../assets/images//img_avatar.png" width="50px"> 
        
       
      </div>
      <div id="inner"style="background-color: white;">
        <p style="position: absolute;
        right:0;
        width:20;
        text-align: center;
        float: right;
        background-color:transparent;
        color: white;
      
        margin-right: 20px;
        padding: 6px 10px;
        cursor: pointer; 
  font-size: 17px;
  border: none;
  width: 150px; 

        ">
          {{user}}
        </p>
      </div>
        
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

<!-- credits -->
 