<div class="card mt-4">
    
    <h4 class="card-header">You're logged in with Angular  </h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
        <ul *ngIf="users">
          <li><strong><b>List of Users</b><strong></li>
            <li *ngFor="let user of users">{{user.user_name}}</li>
        <li>
            names
        Age Bar
        </li>
        </ul>
    </div>
</div>
